@media screen and (min-width: 640px){
  #nav-button{        
      display: none;        
  }   

  #nav-menu{
      flex-direction: row;
  }
  #nav-menu.showing{
      display: flex;
  }
}

@media only screen and (max-width: 1024px) {
 
  nav {
    flex-direction: column;
    text-align: center;
    background-color: #72AAC0; 
  }

  #nav-menu {
    margin-top: 10px; 
  }

}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order-drink {
  max-width: 400px; /* Adjust the maximum width as needed */
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

/* Style for form labels and inputs */
label {
  display: block;
  margin-bottom: 5px;
}

input,
select,
textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  box-sizing: border-box;
}

/* Style for submit button */
#submit {
  background-color: #FFA500;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Style the section element */
#order-confirmation {
  background-color: #f0f0f0;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
  color: #333;
}
.img-container {
  display: flex;
  justify-content: center;
}



.thanks {
  text-align: center;
  margin: 0 0 20px 0;
  font-size: 24px;
  text-transform: uppercase;
}

p {
  text-align: center;
  margin: 10px 0;
  line-height: 1.5;
}

#order-confirmation p:first-of-type,
#review p:last-of-type, #review p {
  font-weight: bold;
}

#leave-review, #pickup-time{
  display: block;
  padding: 10px 20px;
  background-color: orange;
  color: white;
  text-decoration: none;
  text-align: center;
  margin: 20px;

}

#leave-review:hover,
#order-confirmation a:hover {
  background-color: darkorange;
  transition: 0.3s;
}


